<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>{{interfaces.device_name}}
     <p><a  class="btn btn-warning" href="{% url 'nim_app:update' pk=interfaces.pk %}">Update</a>
         <a  class="btn btn-danger" href="{% url 'nim_app:delete' pk=interfaces.pk %}">Delete</a>

</p>
    </h1>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Interface</th>
      <th scope="col">Description</th>
        <th scope="col">Interface Detail</th>
    </tr>
  </thead>
        {% for interface in interfaces.devices.all %}
        <tbody>
        <tr><td>{{ interface.interface_number }}</td>
        <td>{{ interface.interface_description }}</td>
            <td>{{ interface.interface_detail }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
  </div>
</div>

{% endblock %}